{% extends 'base.html.twig' %}

{% block title %}Connexion Admin{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/dashboard.css">
{% endblock %}

{% block body %}

<main class="small">

    <h1>Tableau de bord</h1>
    <p class="subtitle">Gerer le contenu du site web</p>

    <div class="links">
        <a href="{{ path('content') }}" class="btn btn-primary">Modifier les textes statiques</a>
        <a href="{{ path('pages') }}" class="btn btn-primary">Modifier les pages</a>
        <a href="{{ path('settings') }}" class="btn btn-primary">Modifier les paramètres en tout genres</a>
        <a href="{{ path('header') }}" class="btn btn-primary">Modifier le header</a>
    </div>

</main>

{% endblock %}
