main{
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 850px) {
    main{
        width: 100%;
    }
    .form-field{
        align-items: center !important;
    }
    .form-switch-field{
        justify-content: center !important;
    }
    .requiered::after{
        transform: translate(5px, 35px);
    }
}

/* EACH FIELD */
.form-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
}

.requiered::after{
    content: "*";
    color: red;
    font-size: 1rem;
    top: -5px;
    left: -10px;
    position: absolute;
}

/* FIELD LABEL */
.form-field label{
    font-size: 1rem;
    margin-bottom: 10px;
}

/* FIELD INPUT */
.form-field input, .form-field select, .form-field textarea{
    width: 100%;
}
.form-field input[type="checkbox"]{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.form-switch-field{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 30px;
}

/* BOTTOM BUTTONS */
.form-actions{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    width: 100%;
}
.form-actions > *{
    width: 100%;
}

/* FORM ERRORS */
.form-field > ul > li{
    color: red;
    font-size: 0.8rem;
    margin-top: 8px;
    list-style: none;
}

/* TINY MCE */
tinymce-editor{
    width: 100%;
}
tinymce-editor .tox .tox-tinymce{
    width: 100% !important;
    height: 100% !important;
}