.friend-container{
    width: 100%;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.friend{
    width: 400px;
    background-color: var(--color-whitesmoke);
    padding: 30px;
    border-radius: 15px;
    position: relative;
}
.friend .avatar{
    width: 200px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.friend .fullname{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-black);
}
.friend .description{
    font-size: 1rem;
    color: var(--color-black);
    text-align: justify;
    margin-bottom: 8px;
}
.friend > a{
    margin-top: 15px;
}

#person_add{
    position: absolute;
    top: var(--page-padding);
    right: var(--page-padding);
}

.no-friends{
    font-size: 1rem;
    color: var(--color-placeholder);
}