/* BOTTOM BUTTONS */
.bottom-buttons{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main{
    padding: 30px;
}

/* TINYMCE EDITOR */
tinymce-editor{
    width: 100%;
    height: 90vh;
}
tinymce-editor .tox .tox-tinymce{
    width: 100% !important;
    height: 100% !important;
}