main{
    padding: var(--page-padding);
    background-color: var(--color-whitesmoke);
    width: 100%;
}

.actualites{
    margin-top: var(--page-padding);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.actualite{
    width: 100%;
    max-width: 1000px;
    background-color: var(--color-white);
    padding: 1.5rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-radius: 20px;
}
.actualite .date{
    font-size: 0.9rem;
    color: var(--color-text);
}
.actualite h2{
    font-size: 1.5rem;
    color: var(--color-primary);
    margin-top: 0;
    margin-bottom: 0;
}
.actualite .richtext{
    color: var(--color-text);
    font-size: 1rem;
}

.pagination{
    width: 100%;
    text-align: center;
    margin-top: var(--page-padding);
    color: var(--color-black);
    font-size: 1.1rem;
    user-select: none;
}
.pagination a{
    user-select: auto;
    color: var(--color-black);
    text-decoration: none;
}
.pagination a:hover{
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
}