main{
    padding: var(--page-padding);
    background-color: var(--color-whitesmoke);
    background-image: radial-gradient(circle, #e0e0e0 1.5px, transparent 1.5px);
    background-size: 28px 28px;
    width: 100%;
    position: relative;
}

.actualites{
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.actualite{
    width: 100%;
    max-width: 1000px;
    background-color: var(--color-white);
    padding: 1.5rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-radius: 20px;
    position: relative;
    overflow-x: auto;
}
@media screen and (max-width: 850px) {
    .actualite{
        border-radius: 10px;
    }
}
.actualite .date{
    font-size: 0.9rem;
    color: var(--color-text);
}
.actualite h2{
    font-size: 1.5rem;
    color: var(--color-primary);
    margin-top: 0;
    margin-bottom: 5px;
}
.actualite .richtext{
    color: var(--color-text);
    font-size: 1rem;
}

.news-admin-actions{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}
.news-admin-actions > *{
    padding: 15px;
    max-width: 50px;
    max-height: 50px;
}

#new_news{
    position: absolute;
    top: var(--page-padding);
    right: var(--page-padding);
}