.page-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.page-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid var(--color-placeholder);
    padding: 10px;
    border-radius: 15px;
}

.slug{
    display: inline-block;
    font-size: 0.8rem;
    color: #333;
    background-color: var(--color-whitesmoke);
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
    font-family: Consolas, "Courier New", monospace;
}

.page-info{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}
.page-info-title{
    font-size: 0.9rem;
}

.page-actions{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
}
.page-actions > *{
    padding: 15px;
    max-width: 50px;
    max-height: 50px;
}

#new_page{
    position: absolute;
    right: var(--page-padding);
    top: var(--page-padding);
}

.no-pages{
    text-align: center;
    font-size: 1rem;
    color: var(--color-placeholder);
}