{% extends 'base.html.twig' %}

{% block javascripts %}
<script type="module" src="js/tinymce/tinymce.min.js"></script>
<script type="module" src="js/crevette.js"></script>
{% endblock %}

{% block body %}

<main>

<h1>Crevette</h1>
<textarea class="tinymce"></textarea>

</main>

{% endblock %}
