<ul>
    <li><a href="{{ path('index') }}">Accueil</a></li>
    <li><a href="#">Prestations</a></li>
    <li><a href="#">Mon parcours</a></li>
    <li><a href="{{ path('articles') }}">Articles</a></li>
    <li><a href="#">Actualités</a></li>
    <li><a href="{{ path('journey') }}">Carnet de voyage</a></li>
    <li><a href="#">Contact</a></li>
</ul>