{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/article_write.css">
{% endblock %}

{% block javascripts %}
<script type="module" src="/js/tinymce/tinymce.min.js"></script>
<script type="module" src="/js/article_write.js"></script>
{% endblock %}

{% block body %}

<main>

    <!-- Tiny MCE -->
    <textarea></textarea>

    <!-- UPDATE BUTTON -->
    <div class="bottom-buttons">
        <a href="{{ path('article', {id: articleId}) }}" class="btn btn-secondary">Annuler</a>
        <button id="update_button" class="btn btn-primary">Mettre à jour</button>
    </div>

    <!-- Actual form -->
    <div id="form_container" hidden>
        {{ form(form) }}
    </div>

</main>

{% endblock %}
